{% extends "model-page.html" %}

{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

    <div class="registration-form">
    <form action="submit" method="POST"> {% csrf_token %}
        <input type="number" name="id_evento" value="{{evento.id}}" hidden>
            <div class="form-icon">
                <span><i class="icon icon-calendar"></i></span>
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input value="{{ evento.nome }}" required name="nome" type="text" class="form-control item" id="nome" placeholder="Nome do evento">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input value="{{ evento.telefone }}" required name="telefone" type="text" class="form-control item" id="telefone" placeholder="(55) 55555-5555">
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input value="{{ evento.endereco }}" required name="endereco" type="text" class="form-control item" id="endereco" placeholder="Endereço">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" class="form-control item" id="descricao" placeholder="Descrição do evento"> {{ evento.descricao }} </textarea>
            </div>
            <div class="form-group">
                <label for="data">Data do evento</label>
                <input required value="{{ evento.get_data_input_evento }}" name="data" type="datetime-local" class="form-control item" id="data">
            </div>
            <div class="form-group">
                <a href="/">
                <button type="button" class="btn btn-block cancel-event">Cancelar</button>
                    </a>
                <button type="Submit" class="btn btn-block create-event">Criar Evento</button>
            </div>
        </form>
    </div>
<script>
    document.getElementById("telefone").addEventListener('input', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
        e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    });
</script>
{% endblock %}



